nav {
  background-color: #268bc6;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  color: #2da2db;
}

nav a.active {
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
}

.home-image {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: auto;
  right: auto;

  /* Size limit */
  max-width: 100%;
  max-height: 100%;

  /* Other required settings */
  margin: auto;
  overflow: auto;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
